body {
    background-image: url("logoada.jpg");
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la fuente que prefieras */
    font-size: 80px; /* Ajusta el tamaño de la fuente según lo necesites */
    text-align: center; /* Centra el texto */
    color: #b64511; /* Cambia el color del texto si lo deseas */
}

button {
    background-color: rgb(196, 126, 35);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}